#root {
  justify-content: center;
  margin: 2%;
  padding: 1%;
  padding-top: 0%;
  border: solid 1px black;
  background-color: whitesmoke;
  width:fit-content;
}

hr {
  border: solid 1px lightgray;
}

li {
  padding-top: 5%;
  padding-bottom: 5%;
}

li > a {
  text-decoration: none;
  color:steelblue;
}

#bottom_link {
  display: block;
  border: solid 1px black;
  color: steelblue;
  background-color:lightsteelblue;
  padding: 5%;
  text-decoration: none;
}